<div class="container">
	<div class="row">
	 <div class="col-xs-3">
		<h2>User info</h2>
	 <%= attachment_image_tag @user, :image,:fill, 60, 60, class: "img-circle pull-left profile-thumb",fallback: "img/no_image.jpg" %>
		<table class="table">
  			  <tbody>
  				  	<tr>
  				  		<th>name</th>
  				  		<th class="profile-name"><%= @user.name %>
  				  		</th>
  				  	</tr>
  				  	<tr>
						<th>introduction</th>
						<th><%= @user.introduction %></th>
					</tr>
      				<tr>
      					<%= link_to "", edit_user_path(user), class:"edit_user_#{@user.id} glyphicon glyphicon-wrench btn btn-info btn-block col-xs-3 " %>
      				</tr>
			</tbody>
		</table>
	</div>
  </div>
</div>